@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;900&display=swap');
@import url('//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.main-page {
  padding: 0;
  //font-family: 'Montserrat', sans-serif;

  i {
    color: #aaa;
    transition: transform 250ms ease, color 250ms linear;
    transform: scale(.7)
  }


  .header-overview {
    background-color: #333;

    .header-container {
      width: 70%;
      margin: 0 auto;
      color: #a5a5a5;
      padding: 50px 0;

      .header-text-block {

        .sub-title {
          font-weight: 300;

          p {
            margin-bottom: 0;

            span {
              color: aliceblue;
            }
          }
        }

        .header-name {
          .link-out {
            text-decoration: none;
            outline: none;

            .full-name {
              color: aliceblue;
              font-size: 48px;
              letter-spacing: 0px;
              line-height: 1.2em;
              font-style: normal;
              font-weight: 600;
            }
          }
        }

        .social-media {

          a {
            border: 0;
            display: inline-block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 32px;
            text-align: center
          }

          a:hover i {
            color: #007bff;
            transition: transform 100ms ease;
            transform: scale(1)
          }


        }

        .career-summary {
          width: 800px;
          line-height: 1.85em;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
        }

        .btn-download {

          .btn-download-now {
            padding: .8em 2em;
            font-weight: 300;
            font-size: 1em;
            color: aliceblue;
            border-radius: 0;
            border: 2px solid #0099e5;


          }

          a:hover {
            background-color: #0099e5;
          }

        }
      }

      .image-bubble {
        img {
          height: auto;
          max-height: 300px;
          width: auto;
          max-width: 300px;
        }
      }
    }
  }

  .section-overview {
    background-color: rgba(34, 34, 34, 1);
    color: #a5a5a5;
    padding: 50px 70px;

    i {
      font-size: 48px;
    }

    .section-content {
      width: 70%;
      margin: 0 auto;

      .section-main {
        .title-block {
          border-bottom: 3px solid #0099e5;
          display: inline-block;

          h2 {
            margin: 0;
            color: aliceblue;
            font-size: 30px;
          }
        }

        .icon-teaser-block {
          .icon-teaser-container {
            padding: 50px 0;

            .icon-teaser {
              margin: 20px 0;
            }

            h3.icon-teaser_title {
              color: aliceblue;
              font-size: 22px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }


  .footer-overview {
    background-color: rgba(34, 34, 34, 1);

    .footer-container {
      padding: 10px;
      border-top: 1px solid #aaa;
      width: 70%;
      margin: 0 auto;
      text-align: right;

      .footer-email {
        color: #a5a5a5;
        font-size: 12px;
        font-weight: lighter;
      }
    }
  }
}


/* Icon Teaser */
.icon-teaser {
  .icon-container {
    ion-icon {
      color: #a5a5a5;
      font-size: 48px;
    }
  }
}

//https://lmpixels.com/wp/kerge-wp/dark/#about-me
